.overlay {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  /* padding-top: 70%; */
}

.overlay-active {
  display: block;
}

.overlay .overlay-button{
    border-radius: 0.5em;
    font-weight: 600;
    font-size: 1.5em;
    color: white;
}
