.tile {
  height: 100px;
  width: 100%;
  min-width: 10px;
  border-radius: 1em;
  background-color: white;
}

.deck-tile-container .tile:hover, 
.deck-tile-container .tile-hover{
  transform: translateY(-20px);
  filter: drop-shadow(0 0 4px rgb(164, 174, 221));
}

.deck-tile-container .tile-click{
  background-color: rgba(255, 255, 255, 0.7);
}
