.board-container{
    background-color: #363C6B;
    width: 80%;
    height: 70%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 2em;
    padding: 2em;
    color: white;
}
