.discards {
  display: flex;
}

.discard-right,
.discard-left {
  width: 35%;
  height: 80%;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  column-gap: 20px;
  padding-right: 5%;
  margin-right: 3%;
  align-items: flex-end;
}

.discard-left {
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding-left: 5%;
  margin-left: 3%;
  padding-right: 0;
  margin-right: 0;
}

.discard-up,
.discard-bottom {
  width: 70%;
  height: 35%;
  padding: 1%;
  column-gap: 1%;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.discard-bottom {
  flex-direction: row;
  flex-wrap: nowrap;
}
