.deck-container{
    height: 15vh;
}

.deck{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
    height: 100%;
    width: 100%;
}

