.player,
.player-reverse {
  width: 22%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.player-reverse {
  flex-direction: row-reverse;
}

.player .hand {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25em;
  margin: 3px;
}

.player-up {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.player-up .hand {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.25em;
}

.player-bottom{
  display: flex;
  flex-direction: column;
}

.right {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.left {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.up {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* .player .tile, 
.player-up .tile{
  height: 100%;
} */
