.discarded-tile {
  width: 80%;
  position: relative;
  padding-bottom: 65%;
}

.discarded-tile .small-tile-image,
.discarded-tile .no-image {
  position: absolute;
  /* width: 100%;
  height: 140%; */
  /* border-radius: 1em; */
}

.tile-up {
  min-width:21%;
  padding-bottom: 0;
  height:75%;
  min-height: 0;
}

/* .tile-bottom{
  padding-top: min(calc(4.5vh - 1.5vw), 12px);
} */
