.discarded-tile {
  width: 30%;
  position: relative;
  padding-bottom: 35%;
}

.discarded-tile .small-tile-image,
.discarded-tile .no-image {
  position: absolute;
  width: 100%;
  height: 140%;
  border-radius: 1em;
}

.discarded-tile .small-tile-image {
  background-color: white;
}

.discarded-tile .no-image {
  background-color: #232646;
}

.tile-up{
  width: 11%;
  padding-bottom: 10%;
  position: relative;
}

.tile-up .small-tile-image,
.tile-up .no-image {
  height: 90%;
}
