.matches-container {
  width: 25%;
  height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 3%;
  align-items: center;
}

.matches-container-reverse{
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.matches-container-up,
.matches-container-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  column-gap: 4%;
}

.matches-container-bottom {
  flex-direction: row;
  flex-wrap: wrap;
}

.single-match {
  display: flex;
  flex-direction: column;
}

.single-match-up {
  /* max-width: 22%; */
  display: flex;
  flex-direction: row;
}

.single-match .matches-tile-container {
  min-height: 25%;
  max-height: 33%;
  min-width: 16px;
  width: min(33%, 3vh);
} 

.single-match .matches-tile-container-inner {
  height: 120%;
  width: 130%;
}

.single-match-up .matches-tile-container {
  width: min(3.4vw, 7vh);
  min-width: 40px;
  /* max-height: min(1000px, 9vh); */
}

.single-match-up .matches-tile-container-inner {
  width: 100%;
  height: 120%;
  padding: 5px;
}
